<app-header></app-header>
<div class="wrapper fadeInDown">

  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 style="color: {{pinkFront}};">Bienvenidos a TCS-Shop</h2>
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://udlaec-my.sharepoint.com/:i:/r/personal/carlos_maldonado_maldonado_udla_edu_ec/Documents/TCS/TCS-Shop/Imagenes/Logos/Logo.png?csf=1&web=1&e=DxNE0Y" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]= "loginForm" (ngSubmit)= "onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second"  placeholder="Cédula" formControlName="usuario">
      <input type="password" id="password" class="fadeIn third"  placeholder="Contraseña" formControlName="password">
      <input type="submit" id="btn-login" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="errorStatus">
      <p>{{errorMsj}}</p>
    </div>

    <div id="formFooter">
      <a class="underlineHover" href="/registro">Registrarse</a>
    </div>

  </div>
</div>
<app-footer></app-footer>
