<div class="wrapper fadeInDown">

  <div id="formContent">
    <!-- Tabs Titles -->
    <h2>Bienvenidos a Trainee-Shop</h2>
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/Logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]= "loginForm" (ngSubmit)= "onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second"  placeholder="Cédula" formControlName="usuario">
      <input type="password" id="password" class="fadeIn third"  placeholder="Contraseña" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="errorStatus">
      <p>{{errorMsj}}</p>
    </div>

    <div id="formFooter">
      <a class="underlineHover" href="/dashboard">Registrarse</a>
    </div>

  </div>
</div>
