<app-header></app-header>
<br>
<h1 style="text-align: center; color: #F337C2"> Factura </h1>
<form #registroForm="ngForm">

  <div class="p-col-12 p-md-4">
    <h4>Información Personal</h4>
  </div>

  <div class="grid" style="justify-content: center;">

    <div class="p-md-3" style="width: 45%;">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon" style="color: black;  background-color: #F337C2"><i class="pi pi-user"></i></span>
          <label type="text" class="form-control" >{{nombrecli}}</label>
      </div>
      
    </div>

    
    <div class="p-md-3" style="width: 45%;">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon" style="color: black; background-color: #F337C2;"><i class="pi-shopping-cart"></i></span>
        <label id="precio" type="text"  class="form-control"  >{{precio}} </label>
      </div>
      
    </div>

    <div class="p-md-3" style="width: 45%;">
      <div class="p-inputgroup" >
          <span class="p-inputgroup-addon" style="color: black; background-color: #F337C2;"><i class="pi pi-phone"></i></span>
          <input type="text" class="form-control" placeholder="Numero de contacto" required>
          
        </div>
      
    </div>
    <div class="p-md-3" style="width: 45%;">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon" style="color: black; background-color: #F337C2;"><i class="pi pi-map-marker"></i></span>
        <input type="text" class="form-control" placeholder="Ingresar Direccion" required>
      </div>

    </div>

    


  </div>


  <div class="p-col-12 p-md-4">
    <h4>Información de Pago</h4>
  </div>

  <div class="grid" style="justify-content: center;">
  <div class="input-group mb-3"  style="width: 45%;" >
      <div class="input-group-prepend" >
        <label class="input-group-text" for="inputGroupSelect01" style="color: black; background-color: #F337C2;">Tipo de pago</label>
      </div>
      <select class="form-select" aria-label="Default select example" id="tipop"  >
        <option selected>Seleccionar</option>
        <!-- <option [value]="dato" *ngFor="let dato of tcuenta">
          {{dato}}
        </option> -->
        <option value="1">Debito Bancario</option>
        <option value="2">Tarjeta de credito</option>
      </select>

  </div>
  <div class="input-group mb-3" style="width: 45%;" >
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect02"style="color: black; background-color: #F337C2;">Seleccionar Banco</label>
    </div>
    <select class="custom-select" class="form-select" aria-label="Default select example" id="tipob">
      <option selected>Seleccionar</option>
      
      <option value="b1">Banco A</option>
      <option value="b2">Banco B</option>
      <option value="b3">Banco c</option>

    </select>
  
</div>
  <div class="container"  >
      Ingresar cuenta:
        <input pInputText id="cuenta" name="cuenta_"type="text" class="form-control" [(ngModel)]="cuenta" placeholder="Ingresar numero de cuenta" style="width: 45%;"required>
  </div>
</div>

  <div class="grid" style="justify-content: center;">

    <div class="p-md-3" style="width: 20%;">
      <div class="p-inputgroup">
        <button pButton pRipple id="btn-pagar" style="background: #FF6D4D; width: 100%;" name="addButton" label="Pagar" type="button" (click)="enviar()"></button>
      </div>
    </div>

  </div>

</form>
<app-footer></app-footer>